.board_column_card_create {
    bottom: 0;
    width: 100%;
    background: #DFE3E6;
    border-radius: 3px;
    transition: ease-in-out .25s;
    padding: 10px 0 12px 0;

    cursor: pointer;
}

.board_column_card_create:hover {
    background: #c9d1d1;
}

.board_column_card_create > div {
    display: flex;

    gap: 8px;
    height: 100%;
    align-items: center;

    padding-inline: 12px;
}

.board_column_card_create > div > span {
    color: #6B808C;
    line-height: 19px;
    font-size: 13px;
}

.board_column_card_creation {
    padding-bottom: 62px;
    height: 40px;
    width: 100%;
    background: #DFE3E6;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.board_column_card_creation .board_column_textarea {
    width: 248px;
}

.board_column_card_creation button {
    cursor: pointer;
}

.board_column_card_creation svg {
    cursor: pointer;
    transition: ease-in-out .25s;

}

.board_column_card_creation svg:hover {
    cursor: pointer;
    transform: scale(0.85);
}
