.montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: "Montserrat", serif;
}

html {
    background: url('/public/images/background.jpg') no-repeat;
    background-size: cover;
}
